@using System.Web.Optimization
<html class="no-js" lang="en">
<head>
  <title>title</title>
</head>
<body>

  <h1>Template</h1>
  @RenderBody()

  @Html.Partial("~/Views/Shared/_Templates.cshtml")
  @Scripts.Render("~/bundles/jquery", "~/bundles/backbone")
    
</body>
</html>