<script type="text/template" id="user-list-template">
<button id='add' data-i18n='button.add'></button>
    <button id='en'>English</button>
    <button id='es'>Español</button>
<table>
  <thead>
    <tr>
      <th data-i18n="name">Name</th>
      <th data-i18n="actions">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% _.each(users, function(user) { %><tr>
      <td><%= user.get('error_name') %></td>
        <td>delete</td>
      </tr>
      <tr>
        <td><%= user.get('name') %></td>
        <td>delete</td>
      </tr>
    <% }); %>
  </tbody>
</table>
</script>